{% load static %}
<div class="col-12 col-md-6 col-lg-8 text-md-left mb-3 mb-lg-0">
  <a href="/sejm_app/static" class="text-muted text-decoration-none">
    <img src="{% static 'img/logo.png' %}"
         class="me-2"
         alt="Logo"
         width="30"
         height="30">
  </a>
  <span class="text-muted">© 2024 Michał Skibiński.</span>
  <span class="text-muted d-none d-lg-inline">Wszelkie prawa zastrzeżone.</span>
</div>
<div class="col-md-6 col-lg-4 d-flex justify-content-md-end">
  <a class="mx-2" href="https://docs.sejm-stats.pl/" title="Documentation">
    <i class="fas fa-xl fa-book text-primary"></i>
  </a>
  <a class="mx-2"
     href="https://www.youtube.com/@sejm-stats"
     title="YouTube">
    <i class="fab fa-xl fa-youtube text-danger"></i>
  </a>
  <a class="mx-2" href="https://patronite.pl/sejm-stats" title="Patronite">
    <i class="fas fa-xl fa-heart text-danger"></i>
  </a>
  <a class="mx-2" href="mailto:mskibinski109@gmail.com" title="Email">
    <i class="fas fa-xl text-primary fa-envelope"></i>
  </a>
</div>
<!-- <div class="col-md-4 d-flex justify-content-md-end align-items-center">
<span class="text-muted wt-medium me-2">Hosting dzięki</span>
<a href="https://ferko.pl/" title="ferko.pl">
      <img src="{% static 'img/ferko.webp' %}" alt="ferko.pl" width="100">
</a>
</div> -->
