{% load static %}
<script>
    (function () {
        var theme = localStorage.getItem('theme');
        if (theme) {
            document.documentElement.setAttribute('data-mdb-theme', theme);
        }
    })();

</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% include 'meta/meta.html' %}
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'img/favicon.png' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
