{% load static %}
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link href="https://www.google-analytics.com" rel="preconnect" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet" />
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'img/favicon.ico' %}"
      rel="shortcut icon"
      type="image/png">
<link href="{% static 'libs/mdb/css/mdb.min.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'libs/mdb/plugins/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
