{% extends 'accounts/generic/base.html' %}
{% block body %}
  <div class="mb-md-5 mt-md-4">
    <h2 class="fw-bold mb-5 text-primary">Aktywowanie konta</h2>
    {% if validlink %}
      <div class="alert alert-success m-xl-3 p-2 mb-0" role="alert">
        Twoje konto zostało aktywowane. Teraz możesz przejść do logowania.
      </div>
    {% else %}
      <div class="alert alert-danger m-xl-3 p-2 mb-0" role="alert">Link jest nieprawidłowy lub był korzystany.</div>
    {% endif %}
  </div>
  <div class="d-flex justify-content-between align-items-center mt-5 mb-0">
    <a class="fw-bold" href="{% url 'login' %}"><i class="fas fa-arrow-left mx-2"></i>Zaloguj</a>
  </div>
{% endblock %}
