{% extends "generic/base.html" %}
{% load static %}
{% block extra_head %}
  <script src="{% static 'js/init_mdb.js' %}" type="module" defer></script>
{% endblock %}
{% block content %}
  <!-- Tabs navs -->
  <div class="container container-fluid my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">O projekcie</a>
        </li>
      </ol>
    </nav>
    <hr class="my-4" />
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a data-mdb-tab-init
           class="nav-link active"
           id="ex1-tab-1"
           href="#ex1-tabs-1"
           role="tab"
           aria-controls="ex1-tabs-1"
           aria-selected="true">Pytania i odpowiedzi</a>
      </li>
      <li class="nav-item" role="presentation">
        <a data-mdb-tab-init
           class="nav-link"
           id="ex1-tab-2"
           href="#ex1-tabs-2"
           role="tab"
           aria-controls="ex1-tabs-2"
           aria-selected="false">Zespół</a>
      </li>
    </ul>
    <div class="tab-content" id="ex1-content">
      <div class="tab-pane fade show active"
           id="ex1-tabs-1"
           role="tabpanel"
           aria-labelledby="ex1-tab-1">
        <div class="accordion accordion-flush" id="questionsBox">
          {% for faq in faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading{{ faq.id }}">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-collapse-init
                        data-mdb-target="#flush-collapse{{ faq.id }}"
                        aria-expanded="false"
                        aria-controls="flush-collapse{{ faq.id }}">
                  <strong>{{ faq.question }}</strong>
                </button>
              </h2>
              <div id="flush-collapse{{ faq.id }}"
                   class="accordion-collapse collapse"
                   aria-labelledby="flush-heading{{ faq.id }}"
                   data-mdb-parent="#questionsBox">
                <div class="accordion-body text-muted">
                  {{ faq.answer|safe }}
                  {% if faq.url1 %}<a href="{{ faq.url1 }}">Link</a>{% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade"
         id="ex1-tabs-2"
         role="tabpanel"
         aria-labelledby="ex1-tab-2">
      <div class="row py-3">
        <div class="row">
          {% for member in team_members %}
            <div class="col-md-4 mb-4 col-sm-12 p-1">
              <!-- Team Member Card -->
              <div class="card mb-4 shadow">
                <div class="row align-items-center">
                  <!-- Photo -->
                  <div class="col-5 text-center p-2 pe-0">
                    {% if member.photo %}
                      <img src="{{ member.photo.url }}"
                           class="rounded-circle"
                           style="height: 100px;
                                  width: 100px;
                                  object-fit: cover;
                                  margin: 10px;
                                  border: 3px solid var(--mdb-primary)"
                           alt="{{ member.name }}" />
                    {% endif %}
                    <p class="fw-bolder mb-0 pb-0">{{ member.name }}</p>
                    <small class="text-muted mt-0">{{ member.get_role_display }}</small>
                  </div>
                  <div class="col-7 p-2">
                    <p class="card-text">{{ member.about }}</p>
                    <div>
                      {% if member.facebook_url %}
                        <a href="{{ member.facebook_url }}" class="btn btn-link"><i class="fab fa-2x fa-facebook"></i></a>
                      {% endif %}
                      {% if member.linkedin_url %}
                        <a href="{{ member.linkedin_url }}" class="btn btn-link"><i class="fab fa-2x fa-linkedin"></i></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <h2 class="lead">Wspierają nas między innymi:</h2>
      <hr class="my-2" />
      <div class="row py-3">
        {% for supporter in supporters %}
          <div class="col-md-3 col-sm-6 col-12 p-2 ">
            <div class="card">
              <div class="card-body d-flex justify-content-between align-items-center">
                {% if supporter.role == 3 %}
                  <h5 class="card-title">
                    <i class="fa-solid  text-danger fa-medal"></i> {{ supporter.name }}
                  </h5>
                {% else %}
                  <h5 class="card-title">{{ supporter.name }}</h5>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Tabs content -->
{% endblock %}
