{% extends 'generic/base.html' %}
{% load static %}
{% load math_filters %}
{% block extra_head %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="{% static 'css/parliament.css' %}">
  <script src="https://code.highcharts.com/modules/item-series.js"></script>
{% endblock extra_head %}
{% block content %}
  <div class="container fluid mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Kluby parlamentarne</a>
        </li>
      </ol>
    </nav>
    <hr class="my-4">
    <div class="row">
      <div class="row">
        <div class="col-lg-5 col-12">
          <ul class="list-group mb-3">
            {% for club in clubs %}
              <a href="{% url 'club_detail' club.id %}"
                 class="list-group-item d-flex align-items-center rounded border m-1 p-1 border clickable-card"
                 style="background: linear-gradient(90deg, rgba(120,120,120,0.2) {{ club.membersCount|divide }}%, transparent {{ club.membersCount|divide }}%)">
                <span class="bg-white rounded p-1 m-2 me-4">
                  {% if club.photo and club.photo.url %}
                    <img src="{{ club.photo.url }}"
                         class="m-0"
                         alt="{{ club.id }}"
                         style="height: 40px;
                                width: 40px">
                  {% endif %}
                </span>
                <div>
                  <h5 class="mb-0">{{ club.id }}</h5>
                  <p class="mb-0">{{ club.membersCount }} posłów</p>
                </div>
              </a>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-7 col-12">
          <figure class="highcharts-figure "
                  id="clubsChart"
                  data-clubs-json="{{ clubs_json }}">
            <div id="container"></div>
          </figure>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'js/clubs_chart.js' %}"></script>
{% endblock %}
