{% extends "generic/base.html" %}
{% load static %}
{% block content %}
  <div class="container my-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'clubs' %}">Kluby parlamentarne</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ club.name }}</li>
      </ol>
    </nav>
    <hr class="my-4">
    <div class="text-center">
      {% if club.photo %}
        <img src="{{ club.photo.url }}"
             class="img-fluid rounded"
             alt="Logo {{ club.name }}"
             style="max-width: 200px">
      {% endif %}
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ club.name }}</h5>
        {% if club.phone %}
          <p class="card-text">
            <strong>Telefon:</strong> {{ club.phone }}
          </p>
        {% endif %}
        {% if club.fax %}
          <p class="card-text">
            <strong>Faks:</strong> {{ club.fax }}
          </p>
        {% endif %}
        {% if club.email %}
          <p class="card-text">
            <strong>Email:</strong> <a href="mailto:{{ club.email }}">{{ club.email }}</a>
          </p>
        {% endif %}
        <p class="card-text">
          <strong>Liczba posłów:</strong> {{ club.membersCount }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
