{% extends "generic/base.html" %}
{% block extra_head %}
  {% load static %}
  <script src = "{% static 'js/generic/loadDataTable.js' %}"></script>
  <script>loadDataTable('dataTable', ["Kod",  "nazwa" , "Utworzono"]);</script>
  {{ form.media.js }}
  {{ form.media.css }}
{% endblock extra_head %}
{% block content %}
  <div class="modal fade"
       id="helpCommittee"
       tabindex="-1"
       aria-labelledby="envoyModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="envoyModalLabel">Co to jest komisja sejmowa?</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <blockquote class="text-muted fst-italic">
            Komisje sejmowe to organy pomocnicze Sejmu, powoływane w celu szczegółowego rozpatrywania spraw należących do zakresu działania Sejmu. Podzielone są na stałe i nadzwyczajne, zajmują się przygotowaniem projektów ustaw i sprawozdań z ich realizacji.
          </blockquote>
          Zadania i funkcje
          <hr />
          <ul>
            <li>
              <strong>Przygotowanie ustaw:</strong> Komisje analizują i opiniują projekty ustaw przed ich pierwszym czytaniem w Sejmie.
            </li>
            <li>
              <strong>Kontrola rządu:</strong> Prowadzą działania kontrolne wobec działań rządu i administracji państwowej.
            </li>
            <li>
              <strong>Praca nad specjalistycznymi zagadnieniami:</strong> Każda komisja specjalizuje się w określonej dziedzinie (np. gospodarka, zdrowie), co pozwala na głębszą analizę projektów ustaw.
            </li>
            <li>
              <strong>Organizacja wysłuchań publicznych:</strong> Mogą organizować wysłuchania publiczne w celu zgromadzenia opinii na temat projektów ustaw.
            </li>
          </ul>
          <a href="https://pl.wikipedia.org/wiki/Komisja_sejmowa" target="_blank">Więcej na temat komisji sejmowych na Wikipedii</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-fluid mt-4">
    <div class="  d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'committees' %}">Komisje</a>
          </li>
        </ol>
      </nav>
      <span>
        <i class=" fa-solid fa-circle-info mx-1 fs-3 text-primary"
           data-bs-toggle="modal"
           data-bs-target="#helpCommittee"></i>
      </span>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-3 col-12  p-2 pt-0">
        <form method="get" class="rounded border p-3 " novalidate>
          {% load crispy_forms_tags %}
          <h4 class="text-danger ">Filtruj</h4>
          <hr class="my-4 text-danger">
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary m-2">Filtruj</button>
          <button type="reset" class="btn btn-secondary m-2">Resetuj filtry</button>
        </form>
      </div>
      <div class="col-md-9 col-12 table-responsive">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" class="form-control" id="datatable-search-input" />
          <label class="form-label" for="datatable-search-input">Szukaj</label>
        </div>
        <div id="dataTable"
             data-mdb-striped="true"
             data-mdb-fixed-header="true"
             data-mdb-clickable-rows="true"
             data-mdb-multi="true"></div>
      </div>
    </div>
  </div>
{% endblock %}
