{% extends "generic/base.html" %}
{% load static %}
{% block content %}
  <div class="container fluid mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'committees' %}">Komisje</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ committee.name }}</li>
      </ol>
    </nav>
    <p class="lead">komisja {{ committee.get_type_display }}</p>
    <hr class="my-4">
    <div class="p-1 mb-4">
      <span class="badge badge-primary p-2 me-1">Powołano: {{ committee.friendlyCompositionDate }}</span>
      <span class="badge badge-info p-2 ">Telefon: {{ committee.first_phone }}</span>
    </div>
    <h2>Zakres działania</h2>
    <p>{{ committee.scope }}</p>
    <hr class="my-4">
    <!-- Tabs navs -->
    <!-- Tabs content -->
    <ul class="nav nav-tabs nav-fill mb-3" id="tab-container" role="tablist">
      <li class="nav-item" role="presentation">
        <a data-mdb-tab-init
           class="nav-link active fw-bold"
           id="members-tab"
           href="#members-tabs"
           role="tab"
           aria-controls="members-tabs"
           aria-selected="true">Członkowie Komisji ({{ committee.members.all|length }})</a>
      </li>
      <li class="nav-item" role="presentation">
        <a data-mdb-tab-init
           class="nav-link fw-bold"
           id="sittings-tab"
           href="#sittings-tabs"
           role="tab"
           aria-controls="sittings-tabs"
           aria-selected="false">Ostatnie Posiedzenia({{ committee.sittings.all|length }})</a>
      </li>
    </ul>
    <div class="tab-content" id="tab-container-content">
      <div class="tab-pane fade show active "
           id="members-tabs"
           role="tabpanel"
           aria-labelledby="members-tabs">
        <div class="row">
          {% for member in committee.members.all %}
            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
              <a href='{% url "envoy_detail" member.envoy.id %}'
                 style="text-decoration: none;
                        color: inherit"
                 class="card clickable-card flex-row mb-4 shadow">
                <img src='{{ member.envoy.photo.url }}'
                     loading="lazy"
                     class="card-img-left">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title fs-6">{{ member.envoy.full_name }}</h5>
                  </div>
                  <span class="badge bg-white rounded p-1 ">
                    <img src="{{ member.envoy.club.photo.url }}"
                         loading="lazy"
                         alt="Club Photo"
                         style="width: 40px;
                                height: 40px">
                  </span>
                  {% if member.function %}<p class="m-1 my-2 badge badge-primary">{{ member.function }}</p>{% endif %}
                </div>
              </a>
            </div>
          {% empty %}
            <div class="alert alert-warning" role="alert">Brak członków w komisji.</div>
          {% endfor %}
        </div>
      </div>
      <hr class="my-4">
      <div class="tab-pane fade"
           id="sittings-tabs"
           role="tabpanel"
           aria-labelledby="sittings-tabs">
        <ul class="list-group list-group-light mb-3">
          {% for sitting in committee.sittings.all|slice:":5" %}
            <li class="list-group-item">
              <h5 class="fw-bold">
                Posiedzenie nr {{ sitting.num }}
                {% if sitting.remote %}<span class="badge badge-danger p-1 mx-2">Posiedzenie zdalne</span>{% endif %}
                {% if sitting.closed %}<span class="badge badge-success p-1 mx-2">Zakończone</span>{% endif %}
              </h5>
              <p class="text-muted mb-2 fw-bold">{{ sitting.date }}</p>
              {{ sitting.agenda|linebreaksbr|truncatewords:80 }}
              <div class="row">
                <div class="col-auto">
                  <a href="{{ sitting.pdf_transcript }}"
                     class="btn btn-sm  btn-primary mt-2">
                    <i class="fas fa-file-pdf"></i> Protokół
                  </a>
                </div>
                {% if sitting.video_url %}
                  <div class="col-auto">
                    <a href="{{ sitting.video_url }}"
                       class="btn btn-sm btn-primary mt-2"
                       target="_blank">
                      <i class="fas fa-download"></i> Nagranie
                    </a>
                  </div>
                {% endif %}
                {% for print in sitting.prints.all %}
                  <div class="col-auto">
                    <a href="{{ print.pdf_url }}"
                       class="btn btn-sm  btn-warning mt-2"
                       target="_blank">Druk nr {{ print.number }}</a>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% empty %}
            <div class="alert alert-warning" role="alert">Brak dostępnych posiedzeń.</div>
          {% endfor %}
          <a href="#" class="btn btn-outline-primary mt-3 btn-sm w-100 disabled">Pokaż wszystkie</a>
        </ul>
      </div>
    </div>
  {% endblock %}
