{% extends "generic/base.html" %}
{% load static %}
{% block content %}
  <div class="container fluid mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'envoys' %}">Posłowie</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ envoy.title }}</li>
      </ol>
    </nav>
    <hr class="my-4">
    <div class="row gutters-sm">
      <div class="col-md-4 col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{ envoy.photo.url }}" class="rounded" width="150">
              <div class="mt-3">
                <p class="text-secondary mb-1">{{ envoy.club.name }}</p>
                <p class="text-muted font-size-sm">{{ envoy.districtName }}</p>
                <button class="btn btn-danger mx-2"
                        data-mdb-toggle="tooltip"
                        title="Funkcja dostępna wkrótce"
                        disabled>Obserwuj</button>
                <a href="mailto:{{ envoy.email }}"
                   class="btn btn-outline-danger mx-2 px-5">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-envelope"></i>
                E-mail
              </h6>
              <a href="mailto:{{ envoy.email }}">{{ envoy.email }}</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fa-solid fa-circle-nodes"></i>
                Klub parlamentarny
              </h6>
              <span>{{ envoy.club.id }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fa-solid fa-birthday-cake"></i>
                Data urodzenia
              </h6>
              <span>{{ envoy.birthDate }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fa-solid fa-graduation-cap"></i>
                Wykształcenie
              </h6>
              <span>{{ envoy.educationLevel }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fa-solid fa-briefcase"></i>
                Profesja
              </h6>
              <span>{{ envoy.profession }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fa-solid fa-check-to-slot"></i>
                Wszystkich głosów
              </h6>
              <span>{{ envoy.numberOfVotes }}</span>
            </li>
          </ul>
        </div>
        <div class="mb-4 col-12">
          <div class="card my-4 p-2">
            <h1 class="card-title display-6  p-1 ">Dyscyplina głosowania</h1>
            <div class="card-body">
              <canvas id="disciplineChart"
                      data-mdb-chart-init
                      data-mdb-chart="pie"
                      data-mdb-dataset-label="Dyscyplina głosowania"
                      data-mdb-labels="{{ discipline_ratio_labels }}"
                      data-mdb-dataset-background-color="{{ discipline_ratio_colors }}"
                      data-mdb-dataset-data="{{ discipline_ratio_values }}"></canvas>
            </div>
          </div>
        </div>
        <div class="mb-4 col-12">
          <div class="card my-4 p-2">
            <h1 class="card-title display-6  ">Sprawozdanie finansowe</h1>
            <div class="card-body">Tu będzie wykres z danymi finansowymi</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="mt-0">
          <h3 class="display-6  p-0 mt-1 text-danger d-flex justify-content-between">Życiorys</h3>
          <hr class="my-3">
          <p class="card-text p-1">{{ envoy.biography|truncatechars:1500 }}</p>
          <a href="{{ envoy.biography_source }} "
             class="btn btn-outline-primary btn-sm w-100"
             target="_blank">
            Czytaj więcej <i class=" px-2 fa-solid fa-external-link"></i>
          </a>
        </div>
        <div class="mt-5">
          <h1 class="display-6  p-1 text-danger">Komisje sejmowe</h1>
          <ul class="list-group list-group-light">
            {% for membership in member_of %}
              <a href="{% url 'committee_detail' membership.committee.code %}"
                 class="list-group-item list-group-item-action px-3 my-1 d-flex justify-content-between align-items-start"
                 aria-current="true">
                <div class="ms-2 me-auto">
                  <div>{{ membership.committee.name|truncatechars:160 }}</div>
                </div>
                {% if membership.function %}
                  <span class="badge badge-primary rounded-pill">{{
                  membership.function }}</span>
                {% endif %}
              </a>
            {% empty %}
              <div class="list-group-item list-group-item-action px-3 my-1 d-flex justify-content-between align-items-start"
                   aria-current="true">
                <div class="ms-2 me-auto">
                  <div>Brak</div>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
        <div>
          <ul class="nav nav-tabs nav-fill mt-5" id="tab-container" role="tablist">
            <li class="nav-item" role="presentation">
              <a data-mdb-tab-init
                 class="nav-link active fw-bold"
                 id="votings-tab"
                 href="#votings"
                 role="tab"
                 aria-controls="votings"
                 aria-selected="false">Głosowania</a>
            </li>
            <li class="nav-item" role="presentation">
              <a data-mdb-tab-init
                 class="nav-link fw-bold"
                 id="projects-tab"
                 href="#projects"
                 role="tab"
                 aria-controls="projects"
                 aria-selected="true">Projekty</a>
            </li>
            <li class="nav-item" role="presentation">
              <a data-mdb-tab-init
                 class="nav-link fw-bold"
                 id="interpellations-tab"
                 href="#interpellations"
                 role="tab"
                 aria-controls="interpellations"
                 aria-selected="true">interpelacje</a>
            </li>
          </ul>
          <div class="tab-content  pt-3">
            <div class="tab-pane active"
                 id="votings"
                 role="tabpanel"
                 aria-labelledby="votings-tab">
              <!-- Content for Głosowania -->
              <ul class="list-group list-group-light">
                {% for voting in latest_votings %}
                  <a href="{% url 'voting_detail' voting.id %}"
                     class="list-group-item list-group-item-action px-3 my-1 d-flex justify-content-between align-items-start"
                     aria-current="true">
                    <div class="ms-2 me-auto">
                      <div>
                        {% if voting.success %}
                          <i class="fa text-success fa-lg fa-check"></i>
                        {% else %}
                          <i class="fa text-danger fa-lg fa-x"></i>
                        {% endif %}
                        {{ voting.title|truncatechars:190 }}
                      </div>
                    </div>
                    <p class="text-muted ps-3">{{ voting.envoy_vote }}</p>
                  </a>
                {% endfor %}
                <a href="{% url 'votings' %}?envoy={{ envoy.pk }}"
                   class="btn btn-outline-primary btn-sm mt-1 w-100">Pokaż wszystkie</a>
              </ul>
            </div>
            <div class="tab-pane"
                 id="projects"
                 role="tabpanel"
                 aria-labelledby="projects-tab">
              <ul class="list-group list-group-light">
                {% for process in envoy.processes.all|slice:":5" %}
                  <a href="{% url 'process_detail' process.id %}"
                     class="list-group-item list-group-item-action px-3 my-1 d-flex justify-content-between align-items-start"
                     aria-current="true">
                    <div class="ms-2 me-auto">
                      <div>
                        {% if process.is_finished %}
                          <i class="fa text-success fa-lg fa-check"></i>
                        {% else %}
                          <i class="fa text-danger fa-lg fa-x"></i>
                        {% endif %}
                        {{ process.title|truncatechars:160 }}
                      </div>
                    </div>
                    <p class="text-muted ps-3">{{ process.documentType }}</p>
                  </a>
                {% endfor %}
                <a href="{% url 'processes' %}?envoy={{ envoy.pk }}"
                   class="btn btn-outline-primary btn-sm w-100">Pokaż wszystkie</a>
              </ul>
            </div>
            <div class="tab-pane"
                 id="interpellations"
                 role="tabpanel"
                 aria-labelledby="interpellations-tab">
              <!-- Content for Interpelacje -->
              <div class="mt-5">
                <!-- Include your interpellatio
                                ns content here -->
                {% for interpellation in interpellations.all|slice:":5" %}
                  <div class="d-flex flex-start mt-4 ms-3">
                    <img src="{{ interpellation.fromMember.photo.url }}"
                         alt="avatar"
                         loading="lazy"
                         class="card-img-left rounded me-3"
                         style="width: 44px;
                                height: 44px" />
                    <div class="flex-grow-1 flex-shrink-1 ">
                      <div>
                        <div class="d-flex justify-content-between align-items-center">
                          <p class="mb-1  fw-bold">{{ interpellation.fromMember }}: {{ interpellation.lastModified|date:"d M Y" }}</p>
                        </div>
                        {% if interpellation.bodyLink %}
                          <a href="{{ interpellation.bodyLink }}"
                             class="text-decoration-none mb-0">{{ interpellation.title }}</a>
                        {% else %}
                          <span class="text-decoration-none mb-0">{{ interpellation.title }}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% for reply in interpellation.replies.all %}
                    <div class="d-flex flex-start mt-4 ms-5">
                      <i class="fas fa-reply fa-xl me-3"></i>
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1 fst-italic">
                              {{ reply.author }} <span>{{ reply.receiptDate|date:"d M Y" }}</span>
                            </p>
                          </div>
                          <a href="{{ reply.bodyLink }}" class=" mb-0">Treść odpowiedzi <i class="fas fa-external-link-alt"></i></a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <hr class="my-4" />
                {% endfor %}
                {% if interpellations.all|length > 5 %}
                  <a href="{% url 'interpellations' %}?author={{ envoy.pk }}"
                     class="btn btn-outline-primary btn-sm w-100">Pokaż wszystkie</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/chart.es.min.js' %}" type="module"></script>
{% endblock extra_js %}
