{% extends "generic/base.html" %}
{% block content %}
  <div class="container container-fluid my-4">
    <div class="alert alert-warning" role="alert">Informacje zawarte na tej stronie nie są oficjalnymi danymi.</div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Afery rządowe</a>
        </li>
      </ol>
    </nav>
    <hr class="my-4">
    <div class="row">
      {% for scandal in scandals %}
        <div class="col-md-4 col-12">
          <div class="card mb-4">
            <div class="card-header">
              <div class="row">
                <h5 class="card-title col-10">
                  {{ scandal.title }}
                  {% if scandal.entry_status == 'APPROVED' %}
                    <i class="mx-1 fas text-success fa-check-circle"
                       title="Informacja sprawdzona"></i>
                  {% elif scandal.entry_status == 'PENDING' %}
                    <i class="mx-1 fas text-warning fa-exclamation-circle"
                       title="Oczekująca na weryfikacje"></i>
                  {% elif scandal.entry_status == 'REJECTED' %}
                    <i class="fas text-danger fa-x" title="Informacja zawiera błędy"></i>
                  {% endif %}
                </h5>
                {% if scandal.clubs.first.photo %}
                  <img src="{{ scandal.clubs.first.photo.url }}"
                       style="max-height: 40px"
                       class=" col-2">
                {% endif %}
                {% for envoy in scandal.envoys.all %}<p class="text-muted">{{ envoy }}</p>{% endfor %}
              </div>
              <h6 class="card-subtitle text-muted">{{ scandal.date }}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">{{ scandal.description|truncatechars:300 }}</p>
            </div>
            <div class=" card-footer text-muted ">
              <div class="row">
                <div class="col-7 mx-1">
                  Dodano przez: {{ scandal.author.username }}
                  <!-- Display envoy -->
                </div>
                <button class="btn btn-outline-success col-2 mx-1">
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <button class="btn btn-outline-danger col-2">
                  <i class="fas  fa-thumbs-down"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
