{% extends "account_panel/generic/base.html" %}
{% load static %}
{% block content %}
  <div class="col-md-6 mb-4 mb-md-0">
    <div class="card shadow-4 mb-5">
      <div class="card-header py-4 mb-3">
        <h4>Zmień hasło</h4>
      </div>
      <div class="card-body text-center pt-4">
        {% for message in messages %}
          {% if message.tags == 'error' %}<div class="alert alert-danger m-xl-3 p-2 mb-0">{{ message }}</div>{% endif %}
          {% if message.tags == 'success' %}<div class="alert alert-success m-xl-3 p-2 mb-0">{{ message }}</div>{% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger m-xl-3 p-2 mb-0" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="post" class="mb-4">
          {% csrf_token %}
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.old_password }}
              <label class="form-label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            </div>
            <div id="errorsNewPassword1" class="form-text text-danger">
              {% for error in form.old_password.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- new_password1 input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.new_password1 }}
              <label class="form-label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            </div>
            <div id="errorsNewPassword1" class="form-text text-danger">
              {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- new_password2 input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.new_password2 }}
              <label class="form-label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            </div>
            <div id="errorsNewPassword2" class="form-text text-danger">
              {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Zmień hasło</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
