{% extends "account_panel/generic/base.html" %}
{% load static %}
{% block content %}
  <div class="col-md-8 mb-4 mb-md-0">
    <div class="card shadow-4 mb-5">
      <div class="card-header py-4 mb-3">
        <h4>Twój profil</h4>
      </div>
      <div class="card-body text-center">
        {% if form.non_field_errors %}
          <div class="alert alert-danger m-xl-3 p-2 mb-0" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Avatar -->
          <div class="mb-4">
            <div class="mt-1 mb-4">
              <strong>Zdjęcie profilowe</strong>
            </div>
            <div class="d-flex justify-content-center">
              <div id="dnd-default-value"
                   class="file-upload-wrapper shadow-5"
                   style="max-width: 200px">{{ form.avatar }}</div>
            </div>
            <div id="errorsAvatar" class="form-text text-danger">
              {% for error in form.avatar.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- Name input -->
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <div class="form-outline" data-mdb-input-init>
                  {{ form.first_name }}
                  <label class="form-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                </div>
                <div id="errorsFirstname" class="form-text text-danger">
                  {% for error in form.first_name.errors %}{{ error }}{% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <div class="form-outline" data-mdb-input-init>
                  {{ form.last_name }}
                  <label class="form-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                </div>
                <div id="errorsLastname" class="form-text text-danger">
                  {% for error in form.last_name.errors %}{{ error }}{% endfor %}
                </div>
              </div>
            </div>
          </div>
          <!-- Email input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.email }}
              <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            </div>
            <div id="errorsEmail" class="form-text text-danger">
              {% for error in form.email.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- Facebook input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.facebook_url }}
              <label class="form-label" for="{{ form.facebook_url.id_for_label }}">{{ form.facebook_url.label }}</label>
            </div>
            <div id="errorsFacebookUrl" class="form-text text-danger">
              {% for error in form.facebook_url.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- X Twitter input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.x_twitter_url }}
              <label class="form-label" for="{{ form.x_twitter_url.id_for_label }}">{{ form.x_twitter_url.label }}</label>
            </div>
            <div id="errorsTwitterUrl" class="form-text text-danger">
              {% for error in form.x_twitter_url.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <!-- Biography input -->
          <div class="mb-4">
            <div class="form-outline" data-mdb-input-init>
              {{ form.biography }}
              <label class="form-label" for="{{ form.biography.id_for_label }}">{{ form.biography.label }}</label>
            </div>
            <div id="errorsBiography" class="form-text text-danger">
              {% for error in form.biography.errors %}{{ error }}{% endfor %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2" data-mdb-ripple-init>Zapisz zmiany</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-md-0">
    <div class="card shadow-0">
      <div class="card-body text-center">
        <img class="rounded-circle shadow-1 mb-3"
             src="{{ request.user.get_profile.get_avatar_url }}"
             alt="avatar"
             style="object-fit: cover;
                    width: 100px;
                    height: 100px">
        <p class="mb-1">
          <strong>{{ request.user.get_full_name }}</strong>
        </p>
        <p class="mb-2 text-muted">{{ request.user.get_profile.biography }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
