{% extends 'generic/base.html' %}
{% load static %}
{% block content %}
  <div class="container container-fluid mt-4">
    <div class="justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'articles' %}">Artykuły</a>
          </li>
          <li class="breadcrumb-item">{{ article.title }}</li>
        </ol>
      </nav>
    </div>
    <hr class="my-4" />
    <div class="container">
      <!--Grid row-->
      <div class="row gx-lg-5">
        <!--Content grid column-->
        <div class="card col-lg-8 mb-4">
          <div class="card-header">
            <h1 class="text-center py-2">{{ article.title }}</h1>
          </div>
          <div class="card-body">
            <!--Section: Post data-->
            <section class="border-bottom mb-4">
              <img class="img-fluid shadow-1-strong rounded-5 mb-4"
                   src="{{ article.image_url }}"
                   style="object-fit: cover;
                          width: 100%;
                          max-height: 300px"
                   alt="" />
              <div class="row align-items-center mb-4">
                <div class="text-center text-lg-start">
                  <img src="{{ article.author.get_profile.get_avatar_url }}"
                       class="rounded-circle me-2"
                       height="35"
                       width="35"
                       alt=""
                       loading="lazy"
                       style="object-fit: cover" />
                  <span>Opublikowano {{ article.created_at.date }} przez</span>
                  {% if article.author.get_full_name %}
                    <i><a href="#about-author">{{ article.author.get_full_name }}</a></i>
                  {% else %}
                    <i><a href="#about-author">{{ article.author.username }}</a></i>
                  {% endif %}
                </div>
              </div>
            </section>
            <!--Section: Post data-->
            <!--Section: Text-->
            <section>
              {{ article.content|safe }}
            </section>
            <!--Section: Text-->
            <section class="py-3">
              {% if article.tags.all %}
                <strong>Tags:</strong>
                {% for tag in article.tags.all %}<a href="" class="badge bg-primary me-1 mb-2">{{ tag.name }}</a>{% endfor %}
              {% endif %}
            </section>
            <!--Section: Share buttons-->
            <section class="text-center border-top border-bottom py-4 mb-5">
              <p>
                <strong>Udostępnij (dostępne wkrótce):</strong>
              </p>
              <button type="button"
                      class="btn btn-primary text-white me-1"
                      disabled
                      data-mdb-ripple-init>
                <i class="fab fa-facebook-f"></i>
              </button>
              <button type="button"
                      class="btn btn-primary me-1"
                      disabled
                      data-mdb-ripple-init>
                <i class="fas fa-comments me-2"></i>Skomentuj (dostępne wkrótce)
              </button>
            </section>
            <!--Section: Share buttons-->
            <!--Section: Author-->
            <section id="about-author" class="border-bottom mb-5 pb-5">
              <div class="row">
                <div class="col-3 p-2">
                  <img src="{{ article.author.get_profile.get_avatar_url }}"
                       class="img-fluid shadow-1-strong rounded-5"
                       alt="" />
                </div>
                <div class="col-9">
                  {% if article.author.get_full_name %}
                    <p class="mb-3">
                      <strong>{{ article.author.get_full_name }}</strong>
                    </p>
                  {% else %}
                    <p class="mb-3">
                      <strong>{{ article.author.username }}</strong>
                    </p>
                  {% endif %}
                  <div class="mb-3">
                    {% if article.author.get_profile.facebook_url %}
                      <a href="{{ article.author.get_profile.facebook_url }}"
                         target="_blank"
                         class="text-reset">
                        <i class="fab fa-facebook-f me-1"></i>
                      </a>
                    {% endif %}
                    {% if article.author.get_profile.x_twitter_url %}
                      <a href="{{ article.author.get_profile.x_twitter_url }}"
                         target="_blank"
                         class="text-reset">
                        <i class="fab fa-x-twitter me-1"></i>
                      </a>
                    {% endif %}
                  </div>
                  <p>
                    {% if article.author.get_profile.biography %}
                      {{ article.author.get_profile.biography|linebreaks }}
                    {% else %}
                      Brak biografii
                    {% endif %}
                  </p>
                </div>
              </div>
            </section>
            <!--Section: Author-->
            <!--Section: Comments-->
            <section class="mb-5">
              <p class="text-center">
                <strong>Komentarze: 0</strong>
              </p>
              <!-- Comment -->
              {% for comment in comments %}
                <div class="row mb-4">
                  <div class="col-2">
                    <img src="{% static 'img/avatar.png' %}"
                         class="img-fluid shadow-1-strong rounded-5"
                         alt="" />
                  </div>
                  <div class="col-10">
                    <p class="mb-2">
                      <strong>{{ comment.author.name }}</strong>
                    </p>
                    <p>{{ comment.message }}</p>
                  </div>
                </div>
              {% endfor %}
            </section>
            <!--Section: Comments-->
            <!--Section: Reply-->
            <section>
              <p class="text-center mb-4">
                <strong>Dodaj komentarz</strong>
              </p>
              <form>
                <!-- Name input -->
                <div class="form-outline mb-4" data-mdb-input-init>
                  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                  <label class="form-label" for="form4Example3">Twoja wiadomość</label>
                </div>
                <!-- Submit button -->
                <button type="submit"
                        class="btn btn-primary btn-rounded w-100 mb-4"
                        disabled
                        data-mdb-ripple-init>Opublikuj (dostępne wkrótce)</button>
              </form>
            </section>
            <!--Section: Reply-->
          </div>
          <!--Grid column-->
        </div>
        <!--Sidebar grid column-->
        <div class="col-lg-4 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;z-index:500;">
            <!-- Section: Last Articles -->
            <section class="card rounded-5 p-4">
              <h5 class="card-title mb-4">Ostatnie artykuły</h5>
              {% for article in latest_articles %}
                <div class="row mb-4">
                  <div class="col-4">
                    <img src="{{ article.image_url }}"
                         class="img-fluid shadow-1-strong rounded-5"
                         style="object-fit: cover;
                                width: 100px;
                                height: 100px"
                         alt="{{ article.title }}" />
                  </div>
                  <div class="col-8">
                    <a href="{{ article.get_absolute_url }}" class="mb-2">
                      <strong class="text-truncate" style="display: block">{{ article.title }}</strong>
                    </a>
                    <p>{{ article.content_to_text|truncatechars:70 }}</p>
                  </div>
                </div>
              {% endfor %}
            </section>
            <!-- Section: Last articles -->
          </section>
          <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
{% endblock %}
