@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 350 59% 100%;
    --foreground: 350 60% 4%;
    --muted: 350 27% 92%;
    --muted-foreground: 350 6% 35%;
    --popover: 350 59% 100%;
    --popover-foreground: 350 60% 4%;
    --card: 0 0% 99%;
    --card-foreground: 350 60% 3%;
    --border: 350 8% 92%;
    --input: 350 8% 92%;
    --primary: 350 67% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 350 9% 92%;
    --secondary-foreground: 350 9% 32%;
    --accent: 350 9% 92%;
    --accent-foreground: 350 9% 32%;
    --destructive: 22 94% 32%;
    --destructive-foreground: 0 0% 100%;
    --ring: 350 67% 58%;
    --radius: 0.5rem;
  }
  /* hsl(217 19% 27% / 1) */
  .dark {
    --background: 220 17% 17%; /* gray-800 */
    --foreground: 210 40% 98%;
    --card: 220 17% 20%; /* Slightly lighter than background */
    --card-foreground: 210 40% 98%;
    --popover: 220 17% 17%; /* Same as background */
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217 19% 27% ; /* gray-700 */
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27% ; /* gray-700 */
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 19% 27% ; /* gray-700 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27% ; /* gray-700 */
    --input: 217 19% 27% ; /* gray-700 */
    --ring: 212.7 26.8% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}