@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --banner-image-start: rgba(255, 255, 255, 0.9);
    --banner-image-end: rgba(255, 255, 255, 0.171);
    --background: 350 59% 100%;
    --foreground: 350 60% 4%;
    --muted: 350 27% 92%;
    --muted-foreground: 350 6% 35%;
    --popover: 350 59% 100%;
    --popover-foreground: 350 60% 4%;
    --card: 0 0% 99%;
    --card-foreground: 350 60% 3%;
    --border: 350 8% 92%;
    --input: 350 8% 92%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 350 9% 92%;
    --secondary-foreground: 350 9% 32%;
    --accent: 350 9% 92%;
    --accent-foreground: 350 9% 32%;
    --destructive: 22 94% 32%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
    --chart-1: 173 58% 39%;
    --chart-2: 340 45% 55%;
    --chart-3:  43 74% 66%;
    --chart-4: 43 44% 46%;
    --chart-5: 197 37% 24%;
    --chart-6: 297 37% 14%;
  }

  .dark {
    --banner-image-start: rgba(18, 24, 39, 0.993);
    --banner-image-end: rgba(37, 37, 37, 0.404);

    --background: 220 17% 17%;
    /* gray-800 */
    --foreground: 210 40% 98%;
    --card: 220 17% 20%;
    /* Slightly lighter than background */
    --card-foreground: 210 40% 98%;
    --popover: 220 17% 17%;
    /* Same as background */
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217 19% 27%;
    /* gray-700 */
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    /* gray-700 */
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 19% 27%;
    /* gray-700 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    /* gray-700 */
    --input: 217 19% 27%;
    /* gray-700 */
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 160 60% 45%;
    --chart-2: 340 75% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 220 70% 50%;
    --chart-5: 280 65% 60%;
    --chart-6: 40 65% 60%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}