.bgBanner {
    position: relative;
    overflow: hidden;
}


.bgBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3vw;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--banner-image-start) 25%, var(--banner-image-end) 100%),
        url('/sejm.webp');
    background-size: cover;
    background-position: 50% 25%;
    filter: blur(5px);
    z-index: 1;
}