{% extends 'accounts/generic/base.html' %}
{% block body %}
  <div class="mb-md-5 mt-md-4">
    <h2 class="fw-bold mb-4 text-primary">Resetowanie hasła</h2>
    {% if validlink %}
      <p class="mb-4 opacity-90">Wprowadź nowe hasło</p>
      {% if form.non_field_errors %}
        <div class="alert alert-danger m-xl-3 p-2 mb-0" role="alert">{{ form.non_field_errors }}</div>
      {% endif %}
      <form method="post" class="mb-4">
        {% csrf_token %}
        <!-- new_password1 input -->
        <div class="mb-4">
          <div class="form-outline" data-mdb-input-init>
            {{ form.new_password1 }}
            <label class="form-label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
          </div>
          <div id="errorsNewPassword1" class="form-text text-danger">
            {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
          </div>
        </div>
        <!-- new_password2 input -->
        <div class="mb-4">
          <div class="form-outline" data-mdb-input-init>
            {{ form.new_password2 }}
            <label class="form-label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
          </div>
          <div id="errorsNewPassword2" class="form-text text-danger">
            {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
          </div>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Zresetuj moje hasło</button>
      </form>
    {% else %}
      <div class="alert alert-danger m-xl-3 p-2 mb-0" role="alert">Link jest nieprawidłowy lub był korzystany.</div>
    {% endif %}
  </div>
  <div class="d-flex justify-content-between align-items-center mt-5 mb-0">
    <a class="fw-bold" href="{% url 'login' %}"><i class="fas fa-arrow-left mx-2"></i>Zaloguj</a>
  </div>
{% endblock %}
