:root {
    --KO-color: rgb(204, 45, 65);
    --PiS-color: rgb(23, 40, 127);
    --Polska2050-TD-color: rgb(244, 196, 38);
    --PSL-TD-color: rgb(77, 210, 152);
    --Lewica-color: rgb(100, 40, 113);
    --Konfederacja-color: rgb(23, 39, 71);
    --Kukiz15-color: rgb(47, 58, 110);
}