{% extends 'generic/base.html' %}
{% block content %}
  <div class="container mt-5">
    <h1>Polityka Prywatności</h1>
    <p>Data ostatniej aktualizacji: 04.18.2024</p>
    <h2>Użycie Google Analytics</h2>
    <p>
      Na naszej stronie stosujemy Google Analytics, narzędzie analizy webowej firmy Google Inc. ("Google"). Google Analytics używa tzw. "cookies", czyli plików tekstowych zapisywanych na Twoim komputerze, które umożliwiają analizę sposobu korzystania ze strony internetowej. Informacje generowane przez cookie na temat Twojego korzystania ze strony internetowej (łącznie z Twoim adresem IP) są przekazywane do Google i przechowywane przez firmę na serwerach w Stanach Zjednoczonych.
    </p>
    <p>
      Google wykorzystuje te informacje w celu oceny Twojego korzystania ze strony internetowej, tworzenia raportów dotyczących aktywności na stronie dla operatorów stron internetowych oraz świadczenia innych usług związanych z aktywnością na stronie i korzystaniem z Internetu. Google może również przekazywać te informacje osobom trzecim, jeżeli wymaga tego prawo, lub gdy takie osoby trzecie przetwarzają informacje w imieniu Google.
    </p>
    <p>
      Możesz odmówić korzystania z cookies, wybierając odpowiednie ustawienia w swojej przeglądarce, jednak należy pamiętać, że w takim przypadku nie będziesz mógł korzystać z pełnej funkcjonalności tej strony. Korzystając z tej strony, wyrażasz zgodę na przetwarzanie danych o Tobie przez Google w sposób i w celach opisanych powyżej.
    </p>
    <h2>Jak wyłączyć cookies?</h2>
    <p>
      Jeśli nie chcesz, aby cookies były zapisywane na Twoim urządzeniu, możesz zmienić ustawienia swojej przeglądarki. Informacje o tym, jak to zrobić, znajdziesz na stronach pomocniczych swojej przeglądarki.
    </p>
  </div>
{% endblock %}
